<nav>
    <div class = "navbar-header">
        <i class="fab fa-gitter"></i> 
        <h1>Symphony</h1>
    </div>
    
    <ul class = "navbar-threads">
        <li><a href = '/thread/General'>General</a></li>
        <li><a href = '/thread/Meetups'>Meetups</a></li>
        <li><a href = '/thread/Critique'>Critique</a></li>
    </ul>

    <ul class = "navbar-links">
        <li class = 'navbar-profile'><a href = '/profile'> <%= user.local.username %></a></li>
        <li class = 'navbar-logout'><a href = '/logout'>Logout</a></li>
    </ul>
</nav>


