<nav>
    <div class = "navbar-header">
        <i class="fab fa-gitter"></i> 
        <h1><a href="/thread/General"class="page-title">Symphony</a></h1>
    </div>
    
    <ul class = "navbar-threads">
        <li><a href = '/thread/General'>General</a></li>
        <li><a href = '/thread/Meetups'>Meetups</a></li>
        <li><a href = '/thread/Critique'>Critique</a></li>
    </ul>

    <ul class = "navbar-links">
        <li class = 'navbar-profile hidden icon' title = "profile"><a href = '/profile'> <i class="far fa-user"></i></a></li>
        <li class = 'navbar-profile word'><a href = '/profile'> <%= user.local.username %></a></li>
        <li class = 'navbar-logout hidden icon' iitle = "logout"><a href = '/logout'><i class="fas fa-lock"></i></a></li>
        <li class = 'navbar-logout word'><a href = '/logout'>Logout</a></li>
    </ul>
</nav>


