<!doctype html>
<html>
    <title> Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" 
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href = "/profile.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:300,400" rel="stylesheet">
</head>
<body>
<header>
    <% include ./partials/header %>
</header>
<main>
    <aside class = "stage-left"></aside>
    <section class = "stage-center">
        <div class = "profile-box">
            <h1> Profile </h1>
            <p><span>Username: </span><span><%= user.local.username %></span></p>
            <p><span>First Name: </span><span><%= user.local.firstName %></span></p>
            <p><span>Last Name: </span><span><%= user.local.lastName %></span></p>
            <p><span>Instrument: </span><span><%= user.local.instrument %></span></p>
            <a href = "/profileEdit">Edit Profile</a>
        </div>
    </section>
    <aside class = "stage-right"></aside>
</main>
    
</body>
</html>