* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    Font-Family: 'Open Sans', Sans-Serif;
}

/* header style */
nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: #333;
    height: 40px;
    width: 100%;
    padding: 0 10px;
}

.navbar-header * {
    margin: 0;
}

.navbar-header h1 {
    display: inline-block;
}

nav a {
    padding: 9px 5px;
    color: white;
    text-decoration: none;
}

nav a:hover {
    background-color: #111;
}

/* main css */

main {
    display: flex;
    height: 100%;
    padding-top: 40px;
}

aside {
    flex: 1;
    background-color:rgb(167, 16, 16);
}

section {
    flex: 4;
}

.stage-center {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group {
    margin: 25px 0px;
}

.form-group input {
    outline: none;
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
}

.login-header *{
    display: inline-block;
}

.login-header h1 {
    margin-left: 10px;
}

.login-header .fa-address-book {
    font-size: 25px;
}

button {
    width: 100px;
    height: 40px;
    font-size: 1.2em;
    border-radius: 10px;
    background-color: rgb(212, 42, 42);
    color: white;
    border: none;
    margin-bottom: 15px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(182, 35, 35);
}

form {
    border-bottom: 1px solid gray;
}

.login-box a {
    color: orange;
    text-decoration: none;
}

.login-box a:hover {
    text-decoration: underline;
}

.alert {
    padding: 5px 15px;
    background-color: #f2dede;
    color: #b94a48;
    border: 1px solid transparent;
    border-color: #ebccd1;
    border-radius: 4px;
    width: 240px;
}

.question {
    font-size:.8em;
}

@media only screen and (max-width: 650px) {
    main {
        flex-direction: column;
    }
}